.App{
  margin: 0 auto;
  border-radius: 20px;
  background: black;
  color: white;
  width: 500px;
  height: 75vh;
}
.hour-cast{
  margin-top: 1px solid black;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  background: grey;
  border-radius: 25px;
  width: 95%;
  margin: 0 auto;
  height: 15vh;
}
h5 {
  margin-left: 20px;
  margin-bottom: 0px;
  color: lightgray;
}
  
.city {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
}
.temp {
  text-align: center;
  margin-top: 0px;
  font-size: 80px;
  margin-bottom: 10px;
}
.condit {
  text-align: center;
}
.low-high {
  display: flex;
  justify-content: space-around;
}